* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    min-width: 100%;
    min-height: 100%;

    margin-top: 30%;

    border: 1px solid red;
}

form > div {
    display: flex;
    flex-flow: column wrap;

    margin: 25px;
    padding: 10px;

    border: 1px solid blue;
}

div > label, input {
    margin-bottom: 15px;
}

.container_home {
    display: flex;
    flex-flow: column wrap;
}

.container_home > button {
    margin: 20px;
    height: 60px;
}

.container_home > button > a {
    padding: 15px;
    text-decoration: none;
}